<h1>Welcome to ROCK, PAPER SCISSORS</h1>

<h3>RULES</h3>
<ul>
<li>Player 1 selcts rock, paper, or scissors</li>
<li>Player 2 selects rock, paper, or scissors</li>
<li>A champion is decided.</li>
</ul>