body{
  background: #8C1C13;
  font-family: Verdana,sans-serif;
  width: 50%;
  margin: auto;
}

.result{
  font-size: 30px;
  background-color: #FFDEAD;
  text-align: center;
  margin-top: 50px;
  padding: 25px;
}
h1, h3, ul{
  text-align: center;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    margin: 0 auto;
    position: center;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

a:hover, a:active {
    background-color: red;
}
ul li {
    list-style-type: none;
}